@import url("https://fonts.googleapis.com/css2?family=Wendy+One&display=swap");

.text4 {
	font-family: "Wendy One", sans-serif;

	cursor: pointer;
	display: inline-block;
}

/* Hover = hiệu ứng glitch */
.text4:hover {
	animation: glitch 1s linear infinite;
}

@keyframes glitch {
	0% {
		transform: translate(0);
	}
	20% {
		transform: translate(-2px, 2px);
	}
	40% {
		transform: translate(-2px, -2px);
	}
	60% {
		transform: translate(2px, 2px);
	}
	80% {
		transform: translate(2px, -2px);
	}
	100% {
		transform: translate(0);
	}
}
